<select class="cartogram__dropdown">
	<option value='Winning Party'>Winning Party</option>
	<option value='Turnout %'>Turnout %</option>
	<option value='Majority %'>Majority %</option>
	<optgroup label="Vote share (%)">
		<option value="voteshare Lab">Labour</option>
		<option value="voteshare Con">Conservative</option>
		<option value="voteshare SNP">SNP</option>
		<option value="voteshare LD">Lib Dem</option>
		<option value="voteshare Green">Green</option>
		<option value="voteshare PC">Plaid Cymru</option>
	</optgroup>
</select>