#ukcartogram {
	position: relative;
	width: 100%;
	height: 400px;
}

.cartogram {
	svg {
		width: 100%;
		height: 100%;
		-webkit-tap-highlight-color:rgba(0,0,0,0);
	}
	* {
		cursor: pointer;
	}
}

.cartogram__hex {
	transition: all 50ms ease-out;
}

.cartogram__hexgroup {
	stroke: #fff;
	stroke-opacity: 0.3;
	fill-opacity: 0.8;
}

.cartogram__regiongroup {
	fill: none;
	// stroke: #666;
	stroke: #fff;
	// stroke-opacity: 0.9;
	transition: all 50ms ease-out;
}


.cartogram[party-highlight] {
	.cartogram__hex {
    	fill-opacity: 0.3;
    	fill: #ccc;
		stroke: #aaa;
		stroke-opacity: 0.2;

    }
}

@each $party, $color in $partyColors {
    .cartogram__hex--#{$party} {
        fill:$color;
    }
    .cartogram[party-highlight='#{$party}'] .cartogram__hex--#{$party} {
        fill-opacity: 0.9;
        stroke-opacity: 0.8;
        stroke: #555;
        fill:$color;
    }
}

.cartogram[party-highlight='pending'] .cartogram__hex:not(.cartogram__hex--pending) {
	fill-opacity: 0.05;
	fill: #ddd;
}
.cartogram[party-highlight='lab'] .cartogram__hex--lab,
.cartogram[party-highlight='con'] .cartogram__hex--con {
	stroke: #ddd;
}

.cartogram[latest-results] {
	.cartogram__hex {
		fill-opacity: 0.3;
	}
	.cartogram__hex--latest {
		fill-opacity: 0.9;
		stroke: #333;
		stroke-width: 1.5;
		stroke-opacity: 1;
	}
}

.cartogram[latest-results],
.cartogram[focus-constituency],
.cartogram[party-highlight] {
	.cartogram__regiongroup {
		// stroke-opacity: 0.3;
		stroke: #767676;
	}
}

.cartogram__hex--pending {
	stroke: #999;
	opacity: 0.7;
}

.cartogram[focus-constituency] {
	.cartogram__hex {
		fill-opacity: 0.3;
	}
	.cartogram__hex--focus {
		fill-opacity: 0.9;
	}
}

.cartogram__hex--focus {
	stroke: #333;
	stroke-width: 1.5;
	stroke-opacity: 1;
}


.cartogram__label {
  text-anchor: middle;
  stroke-width: 0.2;
  font-family: "Guardian Text Sans Web","Agate Sans",sans-serif;
  fill: #FFF;
  font-size: 16px;
  opacity: 1;
}

.cartogram__label--city {
  font-size: 12px;
}

.cartogram__label--below {
  stroke: #000;
  opacity: 0.25;
  stroke-width: 4px;
  stroke-linejoin: round;
}
.cartogram__city {
  fill: #333;
  stroke: none;	
}

.cartogram__hex--selected {
	stroke: #333;
	stroke-width: 2;
	stroke-opacity: 1;
}
g
.cartogram__controls {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 100%;
}

.cartogram__dropdown {
	position: absolute;
	right: 100px;
	top: 0;
	background: #fff;
	border: 0;
	height: 30px;
	outline: none;
	border-radius: 20px;
	padding-left: 10px;
	border: 1px solid #f1f1f1;
}
.cartogram__reset-zoom {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 12px;
	font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	background-color: #f1f1f1;
	color: #333;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	border-radius: 30px;
	box-sizing: border-box;
	text-decoration: none;
	opacity: 0.5;
	cursor: default;

	.cartogram[zoomed] & {
		opacity: 1.0;
		cursor: pointer;
		&:hover {
			background-color: #ddd;
		}
	}

	&:after {
		content: 'Reset';
		display: inline;
		@include mq(tablet) {
			content: 'Reset zoom';
		}
	}
}

.cartogram[zoomed] {
	border-left: 1px solid #eee;
}

.cartogram__tooltip {
	font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	width: 200px;
	padding: 5px;
	background: rgba(255,255,255,0.9);
	border: 1px solid #ddd;
	position: absolute;
	visibility: hidden;
	box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.30);

	@include mq(tablet) {
		pointer-events: none;
	}
}

.cartogram__tooltip h4 {
	font-family: "Guardian Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

.cartogram__tooltip p {
	font-size: 12px;
	margin: 0;
	padding: 0;
	color: #000;
}

.cartogram__tooltip__tap2expand {
	font-style: italic;
	font-size: 12px;
	line-height: 18px;
	margin-top: 6px;
	&:before {
		content: 'More details »';
		display: block;
		color: #005689;
		text-decoration: underline;
		@include mq(tablet) {
			content: 'Click for details';
			color: #767676;
			text-decoration: none;
		}
	}

}

.cartogram__tooltip__blips {
	font-size: 18px;
	span { margin-right: 0; }
}

.cartogram__tooltip__spout {
	position: absolute;
	left: 50%;
	margin-left: -6px;
}

.cartogram__tooltip__spout:after,
.cartogram__tooltip__spout:before {
	border: solid transparent;
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.cartogram__tooltip__spout:before { // outside
	border-width: 9px;
	margin-top: -8px;
	margin-left: -1px;
}

.cartogram__tooltip__spout:after { // inside
	border-width: 8px;
	margin-top: -8px;
}

.cartogram__tooltip--above {
	margin-top: -25px;
	.cartogram__tooltip__spout {
		margin-top: 8px;
		top: 100%;
		&:before { border-top-color: #ddd; }
		&:after { border-top-color: rgba(255,255,255,0.9); }
	}
}

.cartogram__tooltip--below {
	margin-top: 25px;
	.cartogram__tooltip__spout {
		margin-top: -8px;
		top: 0;
		&:before { border-bottom-color: #ddd; margin-top: -10px; }
		&:after { border-bottom-color: rgba(255,255,255,0.9); }
	}
}


// .cartogram__tooltip--left:before {
// 	border-left-color: #ddd;
// 	border-right-color: transparent;
// }

// .cartogram__tooltip--left:after {
//   	border-left-color: rgba(255,255,255,0.9);
// 	border-right-color: transparent;
// }