.veri {
    background-color: white;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    position: relative;

    padding-top: 50px;

    h1 {
        font-family: "Guardian Egyptian Web",Georgia,serif;
        font-size: 32px;
        font-weight: normal;
        color: black;
        line-height: 38px;
    }

    h2 {
        line-height: 1.2;
        font-family: "Guardian Egyptian Web",Georgia,serif;
        font-size: 22px;
        font-weight: normal;
        color: #333;
    }
}

.veri--loading:before {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.8);
    content: 'Loading…';
    text-align: center;
    line-height: 300px;
    font-family: "Guardian Agate Sans 1 Web","Agate Sans",sans-serif;
    font-family: "Guardian Egyptian Web",Georgia,serif; 
    font-size: 24px;
}

// .veri--map {
//     .veri__latest-results {
//         display: none;
//     }
//     #ticker {
//         display: none;
//     }
// }

// .veri--ticker {
//     #dropdown {
//         display: none;
//     }
//     #ukcartogram-container {
//         display: none;
//     }

// }

[data-partyname='Lab'] { background-color: #E31F26; color: #E31F26; }
[data-partyname='SNP'] { background-color: #FCDD03; color: #FCDD03; }
[data-partyname='Green'] { background-color: #33A22B; color: #33A22B; }
[data-partyname='Others'] { background-color: #B3B3B4; color: #B3B3B4; }
[data-partyname='Pending'] { background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAKklEQVQIW2N8+PDhGQYoOHnyJAMjTADEMTc3hwjAOCCFjKtWrToDkoEBAG1vFhyE06BwAAAAAElFTkSuQmCC) repeat; color: #B3B3B4; }
[data-partyname='UKIP'] { background-color: #7D0069; color: #7D0069; }
[data-partyname='LD'] { background-color: #FFB900; color: #FFB900; }
[data-partyname='Con'] { background-color: #005789; color: #005789; }

.veri__blip {
    width: 5px;
    height: 10px;
    margin-right: 3px;
    margin-bottom: 2px;
    border-radius: 2px;
    display: inline-block;
    vertical-align: middle;
}

@each $party, $color in $partyColors {
    .veri__blip--#{$party} {
        background-color: $color;
    }
}

.legend {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            float: left;
            margin-right: 10px;
            span {
                width: 5px;
                height: 10px;
                margin-right: 3px;
                margin-bottom: 2px;
                border-radius: 2px;
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
}

.veri__left-pane,
.veri__right-pane {
    width: 50%;
    box-sizing: border-box;
}

.veri__left-pane {
    padding-right: 10px;
    float: left;
}
.veri__right-pane {
    float: right;
}

#content-meta {
    @include mq($until: tablet) {
        display: none;
    }

    p {
        color: #767676;
        font-family: "Guardian Text Egyptian Web",Georgia,serif;
        font-size: 14px;
        max-width: 450px;
        @include mq(tablet) {
            font-size: 16px;
        }
    }  
} 

#dropdown {
    padding-top: 12px;
}

@media (max-width: 600px) {

    .veri__right-pane {
        float: none;
        width: 100%;
    }

    .veri__left-pane {
        float: none;
        width: 100%;
    }

}

@media (min-width: 1300px) {

    .veri__right-pane {
        width: 60%;
    }

    .veri__left-pane {
        width: 40%;
    }

}

.timeslider {
    width: 100%;
}