[data-partyname='Lab'] { background-color: #E31F26; color: #E31F26; }
[data-partyname='SNP'] { background-color: #FCDD03; color: #FCDD03; }
[data-partyname='Green'] { background-color: #33A22B; color: #33A22B; }
[data-partyname='Others'] { background-color: #B3B3B4; color: #B3B3B4; }
[data-partyname='Pending'] { background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAKklEQVQIW2N8+PDhGQYoOHnyJAMjTADEMTc3hwjAOCCFjKtWrToDkoEBAG1vFhyE06BwAAAAAElFTkSuQmCC) repeat; color: #B3B3B4; }
[data-partyname='UKIP'] { background-color: #7D0069; color: #7D0069; }
[data-partyname='LD'] { background-color: #FFB900; color: #FFB900; }
[data-partyname='Con'] { background-color: #005789; color: #005789; }
