.seatstack {
    position: relative;

    font-family: "Guardian Agate Sans 1 Web","Agate Sans",sans-serif;
    font-size: 12px;

    border-bottom: 1px solid #DCDCDC;
    padding-bottom: 20px;
    overflow: hidden;
}

.seatstack__majority {
    height: 50px;
    text-align: center;
    width: 100%;
    position: relative;
    &:after {
        content: '';
        border-left: 1px solid rgba(51,51,51,0.8);
        position: absolute;
        left: 50%;
        height: 20px;
        bottom: 0;
    }
}

.seatstack--majority-below {
    padding-top: 20px;
    .seatstack__majority {
        position: absolute;
        top: 50px;
        height: 24px;
        line-height: 24px;
        span {
            display: none;
        }
        &:after {
            height: 55px;
            z-index: 1;
            top: -50px;
        }
    }
}

.seatstack__bar {
    padding: 0;
    margin: 0;
    list-style-type: none;
    height: 50px;

    li {
        float: left;
        height: 100%;
        text-align: center;
        position: relative;
        font-family: "Guardian Egyptian Web",Georgia,serif;
        font-weight: bold;
        font-weight: 600;
        font-size: 14px;

        span {
            position: absolute;
            bottom: 100%;
            left: -50px;
            right: -50px;
        }


        &[data-partyname='Lab'],
        &[data-partyname='Con'] {
            font-size: 18px;
            span {
                width: auto;
            }
        }
        &[data-partyname='Lab'] span {
            left: 0;
            right: auto;
        }
        &[data-partyname='Con'] span {
            left: auto;
            right: 0;
        }
    }

    @include mq(tablet) {
        li:hover {
            -webkit-filter: brightness(90%);
            filter: brightness(0.9);
        }
    }
}

.seatstack__totals {
    font-size: 12px;
    line-height: 24px;
}


$seatstack-list-lineheight: 24px;

.seatstack-list {
    width: calc(50% - 5px);
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 36px;
    float: left;
    span {
        display: inline-block;
    }

    & + & {
        float: right;
    }
    @include mq(tablet) {
        width: calc(50% - 10px);
    }
    @include mq(desktop) {
        width: calc(50% - 20px);
    }
}
.seatstack-list__item {
    vertical-align: middle;
    height: 36px;
    overflow: hidden;
    & + & {
        border-top: 1px solid #f1f1f1;
    }
}

.seatstack-list__partybox {
  width: 10px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
}

.seatstack-list__party-name {
    margin-left: 12px;
}

.seatstack-list__net,
.seatstack-list__seats {
    float: right;
}

.seatstack-list__net {
    color: #aaa;
    width: 25px;
    border-left: 1px dotted #f1f1f1;
    text-align: right;
}

.seatstack-list__seats {
    color: #333;
    font-weight: bold;
    padding-right: 10px;
}