$partyColors: (
	con:    #005789,
	speaker:    #005789,
	"green":  #33A22B,
	lab:    #E31F26,
	snp:    #FCDD03,
	ld: #FFB900,
	ukip:   #7D0069,
	pc:     #868686,
	tusc:     #DE18D7,
	others: #B3B3B4,
	dup:    #99002e, //#D46A4C,
	sf:     #7eaa58, //#008800,
	sdlp:   #008587, //#99FF66,
	ind:    #B3B3B4, //guessed
	pending:    #dfdfdf 
);
